.fa.fa-music{
	font-size: 30px;
	color: gray;
/*	margin: 50px;*/
    padding-left: 300px;
	border: 2px solid pink;
/*	display: inline;*/
}


.input-container {
	margin-left: 50px;
	padding-left: 20px;
	padding-right: 50px;
	width: 360px;
	border: 2px solid green;

}

.completedItem {
	color: gray;
	text-decoration: line-through;
}

.important {
	color: red;
}
/*#calendar {

}*/

/*add graphic animation using canvas*/
/*canvas {
	background: pink;
}*/

h1 {
	text-align: center
}

input {
	padding-right: 70px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
	margin-left: 30px;
	border: 2px solid purple;
}

ul {
	list-style: none
}


span {
/*	background: white;*//* not needed*/
	height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-right: 10px;
	text-align: center;
	color: red;
	width: 0px;
	display: inline-block;
	transition: 0.5s linear;
	opacity: 0;
	border: 2px solid blue;
}

li:hover span {
	width: 10px;
	opacity: 1;
}

body {
	background-color: white;
}

/*
.fridayVideo {
	width: 500px;
	height: 300px;
    background: blue;
}*/
/*.music {
	padding-left: 50px;
	border: 2px solid aqua;
}*/

.friday {
/*	display: none;*/
/*	transition: ease;*/
	padding-left: 600px;
/*	width: 200px;*/
	height: 0px;
    margin: 0px auto;
    border: 2px solid purple;
}

.fridayDisplay {
	display: none;
}

/*.friday:hover .fridayVideo{

}*/

.corgiContainer {
	padding-left: 350px;
	padding-top: 70px;
/*	padding-bottom: 50px*/
	border: 2px solid orange;
	display: inline;
}

.corgi {
	padding-top: 50px
/*	margin: 0px;*/
/*	display: inline;*/
	padding-bottom:10px;
	width: 60px;
	height: 40px;
	border: 2px solid red;
}

li {
	font-family: "Arial";
}

li:nth-child(2n) {
	background-color: #EDEBFA;
	border: 2px solid red;
}